@use "./base/reset" as *;
@use "./base/variables" as *;

// Estilos globais
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: $spacing-lg $spacing-md;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
