// Cores principais
$color-text: #eaeaea;
$color-background: #0f0f0f;
$color-primary: #ef4444;
$color-secondary: #f87171;
$color-highlight: #dc2626;

// Fontes
$font-primary: "Inter", sans-serif;

// Espaçamentos
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 3rem;
